/* * {
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

button {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}

label{
    font-size: 2em;    
}

.container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.stats {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container div div{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}


#temp {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    margin-top: 2em;
    width: 74%;
}

#temp::-webkit-slider-runnable-track {
    background: var(--tg-theme-button-text-color);
    height: 0.8rem;
    border-radius: 0.5rem;
}
  

#temp::-moz-range-track {
    background: var(--tg-theme-button-text-color);
    height: 0.8rem;
    border-radius: 0.5rem;
}

#temp::-moz-range-thumb {
    border: none;
    border-radius: 50%;
    background-color:  var(--tg-theme-button-color);
    height: 1.4rem;
    width: 1.4rem;
}

#temp::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -0.5rem;
    background-color: var(--tg-theme-button-color);
    height: 2rem;
    width: 2rem;   
    border-radius: 50%;
} */