.container {
    justify-content: space-evenly;
}

.history-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: min-content;
}

.history-itemRole {
    color: var(--tg-theme-button-text-color);
    height: min-content;
}

.history-itemContent {
    color: var(--tg-theme-text-color);
    font-size: 0.8em;

    height: min-content;
}


#history {
    margin-top: 0em;
    padding: 0.4em;
    width: 88%;
    height: 80vh;
    overflow-y: scroll;
    border: 3px solid var(--tg-theme-button-color);
    border-radius: 0.6em;
}

