#percents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    margin-top: 1em;
}


#temp {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    margin-top: 6em;
    width: 74%;
    
    /* background: var(--tg-theme-button-color); */
}

#temp::-webkit-slider-runnable-track {
    background: var(--tg-theme-button-text-color);
    height: 0.8rem;
    border-radius: 0.5rem;
}
  

#temp::-moz-range-track {
    background: var(--tg-theme-button-text-color);
    height: 0.8rem;
    border-radius: 0.5rem;
}

#temp::-moz-range-thumb {
    border: none;
    border-radius: 50%;
    background-color:  var(--tg-theme-button-color);
    height: 1.4rem;
    width: 1.4rem;
}

#temp::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -0.58rem;
    background-color: var(--tg-theme-button-color);
    height: 2rem;
    width: 2rem;   
    border-radius: 50%;
}