<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/history.css">
</head>
<body>
    <div class="container">
            <div class="stats">
                <label for="temperature">Уровень креативности:</label>
                <div><output name="t-out" for="temp">50</output>%</div>

            </div>
            <input
            type="range"
            name="temperature"
            min="0"
            max="100"
            id="temp">
    </div>
</body>
<script src="/static/js/history.js"></script>
</html> -->