.container {
    justify-content: flex-start;
    padding-top: 2em;
}

.alarm {
    color: rgb(255, 38, 38);
}

#alertMessage {
    margin-top: auto;
    font-size: 0.6em;
    text-align: center;
}

#stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    margin-top: 1em;
}

#range {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    margin-top: 6em;
    width: 74%;
    
    /* background: var(--tg-theme-button-color); */
}

#range::-webkit-slider-runnable-track {
    background: var(--tg-theme-button-text-color);
    height: 0.8rem;
    border-radius: 0.5rem;
}
  

#range::-moz-range-track {
    background: var(--tg-theme-button-text-color);
    height: 0.8rem;
    border-radius: 0.5rem;
}

#range::-moz-range-thumb {
    border: none;
    border-radius: 50%;
    background-color:  var(--tg-theme-button-color);
    height: 1.4rem;
    width: 1.4rem;
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -0.58rem;
    background-color: var(--tg-theme-button-color);
    height: 2rem;
    width: 2rem;   
    border-radius: 50%;
}